.grid-container {
    @media (max-width: 768px) {
        grid-template-columns: 1fr !important;
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(2,1fr) !important;
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3,1fr) !important;
    }
} 

.home-button {
    padding: 16px ;
    font-size: 20px;
} 

.header-container {
    @media (max-width: 768px) {
        display: none !important;
    }
}
.header-container span:hover {
    color: #008CBA; 
}

.header-button {
    @media (max-width: 768px) {
        display: flex !important;
    }
    @media (min-width: 768px) {
        display: none !important;
    }
}